.text-center{
    text-align: center;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: center;
    background-color: white;
    color: black;
    text-align: top;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: gray;
    color: white;
}
#title {
    height: 40%;
    background-color: white;
    color: black

}
img {
    border: 1px solid #ddd;
    border-radius: 20%;
    padding: 5px;
    width: 150px;
}
img:hover{
    opacity: 0.5;
}
html, body{
    padding: 100px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
}
.img-center{
    margin-left: auto;
    margin-right: auto;
}
p{
    text-decoration: none !important;
}
a, u {
    text-decoration: none !important;
}
/*Table*/
table, th, td {
    border: 1px, solid black;
}